
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 123rem;
}
.index-Dro {
  width: 100%;
  height: 286.7rem;
}
.index-Dro .group-19-BHq {
  width: 100%;
  height: 100%;
  position: relative;
}
.index-Dro .group-19-BHq .rectangle-1-iYf {
    width: 121rem;
    height: 4.9683rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
}
.bgblue {
    width: 1210.3px;
    height: 550px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 111, 159, 0.10) 0%, rgba(0, 111, 159, 0.10) 100%), #7FB0E1;
}
.index-Dro .group-19-BHq {
  width: 118.1606rem;
  height: 49.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.mask-group-Emu {
    width: 118.1606rem;
    height: 49.9rem;
    position: absolute;
    right: -24.5rem;
    top: 5rem;
    object-fit: contain;
    vertical-align: top;
}
.index-Dro .group-19-BHq .discover-worlds-within-pages-ZJP {
  width: 56.5rem;
  height: 16rem;
  position: absolute;
  left: 11.9629rem;
  top: 21rem;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Judson, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .white-arrow-down-1-r2b {
  width: 7.6623rem;
  height: 5.5497rem;
  position: absolute;
  left: 57.6688rem;
  top: 47rem;
  object-fit: cover;
  vertical-align: top;
}
.index-Dro .group-19-BHq .line-1-yN7 {
  width: 102.4336rem;
  height: 0.1rem;
  position: absolute;
  left: 10.082rem;
  top: 63.5246rem;
  background-color: #b0b0b0;
}
.index-Dro .group-19-BHq .line-2-7DR {
  width: 102.4336rem;
  height: 0.1rem;
  position: absolute;
  left: 10.082rem;
  top: 128.1384rem;
  background-color: #b0b0b0;
}
.index-Dro .group-19-BHq .line-3-3cs {
  width: 102.4336rem;
  height: 0.1rem;
  position: absolute;
  left: 10.082rem;
  top: 200.2839rem;
  background-color: #b0b0b0;
}
.index-Dro .group-19-BHq .group-3-b8b {
  width: 110.9016rem;
  height: 43.6037rem;
  position: absolute;
  left: 6.0492rem;
  top: 76.6045rem;
  display: flex;
  align-items: center;
}
.index-Dro .group-19-BHq .group-3-b8b .book-textbook-1-XH9 {
  margin-right: 2.6034rem;
  width: 55.3982rem;
  height: 43.6037rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-3-b8b .here-we-strive-to-provide-you-with-the-ultimate-reading-experience-offering-a-diverse-selection-spanning-various-genres-and-topics-we-aim-to-assist-readers-in-finding-the-perfect-book-for-them-with-convenient-search-features-and-a-personalized-recommendation-system-we-make-it-easy-for-you-to-discover-your-next-great-read-join-us-on-this-reading-journey-weve-got-exactly-what-youre-looking-for-Fyq {
  margin-bottom: 1.244rem;
  max-width: 52.9rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-3-b8b .here-we-strive-to-provide-you-with-the-ultimate-reading-experience-offering-a-diverse-selection-spanning-various-genres-and-topics-we-aim-to-assist-readers-in-finding-the-perfect-book-for-them-with-convenient-search-features-and-a-personalized-recommendation-system-we-make-it-easy-for-you-to-discover-your-next-great-read-join-us-on-this-reading-journey-weve-got-exactly-what-youre-looking-for-Fyq .here-we-strive-to-provide-you-with-the-ultimate-reading-experience-offering-a-diverse-selection-spanning-various-genres-and-topics-we-aim-to-assist-readers-in-finding-the-perfect-book-for-them-with-convenient-search-features-and-a-personalized-recommendation-system-we-make-it-easy-for-you-to-discover-your-next-great-read-join-us-on-this-reading-journey-weve-got-exactly-what-youre-looking-for-Fyq-sub-0 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-3-b8b .here-we-strive-to-provide-you-with-the-ultimate-reading-experience-offering-a-diverse-selection-spanning-various-genres-and-topics-we-aim-to-assist-readers-in-finding-the-perfect-book-for-them-with-convenient-search-features-and-a-personalized-recommendation-system-we-make-it-easy-for-you-to-discover-your-next-great-read-join-us-on-this-reading-journey-weve-got-exactly-what-youre-looking-for-Fyq .here-we-strive-to-provide-you-with-the-ultimate-reading-experience-offering-a-diverse-selection-spanning-various-genres-and-topics-we-aim-to-assist-readers-in-finding-the-perfect-book-for-them-with-convenient-search-features-and-a-personalized-recommendation-system-we-make-it-easy-for-you-to-discover-your-next-great-read-join-us-on-this-reading-journey-weve-got-exactly-what-youre-looking-for-Fyq-sub-2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .our-vision-yaP {
  width: 23rem;
  height: 5.9rem;
  position: absolute;
  left: 6.0492rem;
  top: 67.4887rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.index-Dro .group-19-BHq .group-2-Un3 {
  width: 110.9016rem;
  height: 47.9128rem;
  position: absolute;
  left: 6.0492rem;
  top: 143.5982rem;
  display: flex;
  align-items: center;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh {
  box-sizing: border-box;
  padding-right: 2.0164rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-tcg7-kjZ {
  margin-right: 1.6131rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-tcg7-kjZ .talesserial-1-JWB {
  margin-bottom: 1.5856rem;
  width: 26.2131rem;
  height: 36.8656rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-tcg7-kjZ .a-tale-of-two-cities-doM {
  margin-bottom: 1.094rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-tcg7-kjZ .charles-dickens-ZBD {
  margin-right: 1.2098rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-z88f-GrK {
  margin-right: 2.0164rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-z88f-GrK .littleprince-1-RjD {
  margin-bottom: 1.5856rem;
  width: 26.6164rem;
  height: 36.8656rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-z88f-GrK .the-little-prince-mHH {
  margin: 0rem 0rem 1.094rem 0.403rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-z88f-GrK .saint-exupry-Tvo {
  margin-right: 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-f42k-bGK {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-f42k-bGK .harrypotterandthephilosophersstonebookcover-1-YhM {
  margin-bottom: 1.5856rem;
  width: 26.2131rem;
  height: 36.8656rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-f42k-bGK .harry-potter-f1H {
  margin-bottom: 1.2256rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-khb5-Qfh .auto-group-f42k-bGK .j-k-rowling-aP9 {
  margin-left: 0.4033rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-2bsd-hCs {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-2bsd-hCs .andthentherewerenonefirsteditioncover1939-1-FEP {
  margin-bottom: 1.5856rem;
  width: 26.2131rem;
  height: 36.8656rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-2bsd-hCs .and-then-there-were-none-MoD {
  margin: 0rem 0.807rem 1.762rem 0rem;
  max-width: 23.9rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-2-Un3 .auto-group-2bsd-hCs .agatha-christie-3vw {
  margin-right: 1.2099rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .bestsellers-NCX {
  width: 23.2rem;
  height: 5.9rem;
  position: absolute;
  left: 6.0492rem;
  top: 132.1025rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.index-Dro .group-19-BHq .group-4-4LF {
  width: 105.4634rem;
  height: 63.5296rem;
  position: absolute;
  left: 5.9088rem;
  top: 204.1431rem;
}
.index-Dro .group-19-BHq .group-4-4LF .recommendation-of-day-aJb {
  margin-bottom: 4.9078rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 {
  margin-left: 0.1404rem;
  width: calc(100% - 0.1404rem);
  height: 52.7217rem;
  display: flex;
  align-items: center;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 .hfrontmockup-1-dGs {
  margin: 0rem 8.469rem 0rem 0rem;
  width: 46.7803rem;
  height: 52.7217rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 .auto-group-7cv5-YPq {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 .auto-group-7cv5-YPq .the-hobbit-tyV {
  margin: 0rem 0rem 1.385rem 1.21rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 .auto-group-7cv5-YPq .j-r-r-tolkien-oaf {
  margin: 0rem 0rem 2.031rem 1.258rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 .auto-group-7cv5-YPq .the-hobbit-or-there-and-back-again-is-a-childrens-fantasy-novel-by-the-english-author-j-r-r-tolkien-it-was-published-in-1937-to-wide-critical-acclaim-being-nominated-for-the-carnegie-medal-and-awarded-a-prize-from-the-new-york-herald-tribune-for-best-juvenile-fiction-the-book-is-recognized-as-a-classic-in-childrens-literature-and-is-one-of-the-best-selling-books-of-all-time-with-over-100-million-copies-sold-ixX {
  margin: 0rem 0rem 15.571rem 1.474rem;
  max-width: 48.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Judson, 'Source Sans Pro';
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-4-4LF .auto-group-c6wj-tq5 .auto-group-7cv5-YPq .auto-group-t9v1-rBZ {
  width: 26.2131rem;
  height: 7.1353rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-6.png');
  flex-shrink: 0;
}
.index-Dro .group-19-BHq .group-1-XHh {
  width: 121rem;
  height: 5.0683rem;
  position: absolute;
  left: 0;
  top: 0;
}
.index-Dro .group-19-BHq .group-1-XHh .rectangle-2-rqm {
  width: 121rem;
  height: 4.9683rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #010101;
}
.index-Dro .group-19-BHq .group-1-XHh .bookers-CPq {
  width: 13.7rem;
  height: 4.6rem;
  position: absolute;
  left: 2.46rem;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #00c1ff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.index-Dro .group-19-BHq .group-1-XHh .home-JSs {
  width: 9.9rem;
  height: 3.8rem;
  position: absolute;
  left: 85.4951rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.index-Dro .group-19-BHq .group-1-XHh .home-JSs .home-JSs-sub-0 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #00c1ff;
  font-family: Judson, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-1-XHh .home-JSs .home-JSs-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-1-XHh .event-AtP {
  width: 10rem;
  height: 3.8rem;
  position: absolute;
  left: 96.7869rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.index-Dro .group-19-BHq .group-1-XHh .event-AtP .event-AtP-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #bfd7e8;
  font-family: Judson, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-1-XHh .event-AtP .event-AtP-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-1-XHh .contact-hmq {
  width: 13.7rem;
  height: 3.8rem;
  position: absolute;
  left: 108.0787rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.index-Dro .group-19-BHq .group-1-XHh .contact-hmq .contact-hmq-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #bfd7e8;
  font-family: Judson, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-1-XHh .contact-hmq .contact-hmq-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.index-Dro .group-19-BHq .group-22-S79 {
  width: 123rem;
  height: 4.3838rem;
  position: absolute;
  left: 0;
  top: 282.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 123rem;
}.event-rKh {
  width: 100%;
  height: 143.6838rem;
  position: relative;
}
.event-rKh .rectangle-8-CPZ {
  width: 123rem;
  height: 143.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.event-rKh .current-events-wc3 {
  width: 45.6rem;
  height: 8.2rem;
  position: absolute;
  left: 3.5068rem;
  top: 10.3719rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .group-8-T4b {
  box-sizing: border-box;
  padding: 3.043rem 19.434rem 3.423rem 3.63rem;
  width: 117.3541rem;
  height: 26.2456rem;
  position: absolute;
  left: 2.8229rem;
  top: 21.6812rem;
  display: flex;
  align-items: center;
  background-color: #bfd7e8;
  border-radius: 10rem;
}
.event-rKh .group-8-T4b .group-7-wVZ {
  margin-right: 2.8078rem;
  width: 20.5672rem;
  height: 19.7793rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.event-rKh .group-8-T4b .auto-group-mltf-gT9 {
  margin-bottom: 0.3037rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.event-rKh .group-8-T4b .auto-group-mltf-gT9 .the-hobbit-on-sale-online-qL3 {
  margin: 0rem 0rem 0.476rem 0.015rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #005b82;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.event-rKh .group-8-T4b .auto-group-mltf-gT9 .bestseller-hobbit-on-30-discount-only-on-online-Lnb {
  margin-bottom: 0.4997rem;
  max-width: 60.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
  flex-shrink: 0;
}
.event-rKh .group-8-T4b .auto-group-mltf-gT9 .from-0301-untill-0331-eHV {
  margin-left: 0.0151rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #005b82;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.event-rKh .group-9-9k3 {
  box-sizing: border-box;
  padding: 3.043rem 21.234rem 3.423rem 3.63rem;
  width: 117.3541rem;
  height: 26.2456rem;
  position: absolute;
  left: 2.8229rem;
  top: 52.8716rem;
  display: flex;
  align-items: center;
  background-color: #bfd7e8;
  border-radius: 10rem;
}
.event-rKh .group-9-9k3 .group-7-ego {
  margin-right: 1.2099rem;
  width: 20.5672rem;
  height: 19.7793rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.event-rKh .group-9-9k3 .auto-group-aoww-bM9 {
  margin-bottom: 0.3037rem;
  width: 70.7131rem;
  flex-shrink: 0;
}
.event-rKh .group-9-9k3 .auto-group-aoww-bM9 .auto-group-yxej-97m {
  margin-bottom: 1.4289rem;
  width: 100%;
  height: 14.5467rem;
  position: relative;
}
.event-rKh .group-9-9k3 .auto-group-aoww-bM9 .auto-group-yxej-97m .dan-brown-lecture-ticket-5n7 {
  width: 66.1rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #005b82;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .group-9-9k3 .auto-group-aoww-bM9 .auto-group-yxej-97m .visit-website-to-buy-ticket-of-the-author-of-da-vinci-code-oCK {
  width: 69.1rem;
  height: 8rem;
  position: absolute;
  left: 1.6131rem;
  top: 6.5467rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
}
.event-rKh .group-9-9k3 .auto-group-aoww-bM9 .from-0301-untill-0331-5fd {
  margin-left: 1.6131rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #005b82;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .group-10-PgK {
  box-sizing: border-box;
  padding: 1.902rem 11.534rem 2.206rem 3.63rem;
  width: 117.3541rem;
  height: 26.2456rem;
  position: absolute;
  left: 2.8229rem;
  top: 84.0621rem;
  display: flex;
  align-items: center;
  background-color: #bfd7e8;
  border-radius: 10rem;
}
.event-rKh .group-10-PgK .group-7-HWo {
  margin: 0rem 2.823rem 0.077rem 0rem;
  width: 20.5672rem;
  height: 19.7793rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.event-rKh .group-10-PgK .auto-group-kecf-cZ5 {
  width: 78.8rem;
  height: 100%;
  flex-shrink: 0;
}
.event-rKh .group-10-PgK .auto-group-kecf-cZ5 .auto-group-zpk3-mB5 {
  margin-bottom: 0.3719rem;
  width: 100%;
  height: 18.2663rem;
  position: relative;
}
.event-rKh .group-10-PgK .auto-group-kecf-cZ5 .auto-group-zpk3-mB5 .higashino-keigos-latest-goods-7Ew {
  width: 78.8rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #005b82;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .group-10-PgK .auto-group-kecf-cZ5 .auto-group-zpk3-mB5 .black-showman-and-the-wheel-of-destiny-when-purchasing-black-showman-whisky-cups-are-given-pQF {
  width: 77.7rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 6.2663rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #008dca;
  font-family: Judson, 'Source Sans Pro';
}
.event-rKh .group-10-PgK .auto-group-kecf-cZ5 .from-0301-untill-0331-W2B {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #005b82;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .rectangle-12-p2s {
  width: 63.718rem;
  height: 9.1289rem;
  position: absolute;
  left: 29.8426rem;
  top: 120.5777rem;
  background-color: #8eb5c6;
}
.event-rKh .no-more-events-available-wdH {
  width: 44.7rem;
  height: 4.7rem;
  position: absolute;
  left: 39.3516rem;
  top: 122.86rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #ffffff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .group-5-3AX {
  width: 121rem;
  height: 5.0683rem;
  position: absolute;
  left: 0;
  top: 0;
}
.event-rKh .group-5-3AX .rectangle-2-Z8s {
  width: 121rem;
  height: 4.9683rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #010101;
}
.event-rKh .group-5-3AX .bookers-tgw {
  width: 13.7rem;
  height: 4.6rem;
  position: absolute;
  left: 2.4197rem;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #00c1ff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.event-rKh .group-5-3AX .home-oou {
  width: 9.6rem;
  height: 3.8rem;
  position: absolute;
  left: 85.4951rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.event-rKh .group-5-3AX .home-oou .home-oou-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #bfd7e8;
  font-family: Judson, 'Source Sans Pro';
}
.event-rKh .group-5-3AX .home-oou .home-oou-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.event-rKh .group-5-3AX .event-5Q3 {
  width: 10.1rem;
  height: 3.8rem;
  position: absolute;
  left: 96.7869rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.event-rKh .group-5-3AX .event-5Q3 .event-5Q3-sub-0 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #00c1ff;
  font-family: Judson, 'Source Sans Pro';
}
.event-rKh .group-5-3AX .event-5Q3 .event-5Q3-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.event-rKh .group-5-3AX .contact-nxf {
  width: 13.7rem;
  height: 3.8rem;
  position: absolute;
  left: 108.0787rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.event-rKh .group-5-3AX .contact-nxf .contact-nxf-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #bfd7e8;
  font-family: Judson, 'Source Sans Pro';
}
.event-rKh .group-5-3AX .contact-nxf .contact-nxf-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.event-rKh .group-23-k2K {
  width: 123rem;
  height: 4.3838rem;
  position: absolute;
  left: 0;
  top: 139.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 123rem;
}.contact-HYT {
  box-sizing: border-box;
  padding-bottom: 0.0162rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.contact-HYT .group-11-1UT {
  margin: 0rem 0rem 9.032rem 0rem;
  width: 121rem;
  height: 5.0683rem;
  position: relative;
  flex-shrink: 0;
}
.contact-HYT .group-11-1UT .rectangle-2-XBu {
  width: 121rem;
  height: 4.9683rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #010101;
}
.contact-HYT .group-11-1UT .bookers-4Bq {
  width: 13.7rem;
  height: 4.6rem;
  position: absolute;
  left: 2.4197rem;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #00c1ff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-HYT .group-11-1UT .home-MAw {
  width: 9.6rem;
  height: 3.8rem;
  position: absolute;
  left: 85.4951rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.contact-HYT .group-11-1UT .home-MAw .home-MAw-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #bfd7e8;
  font-family: Judson, 'Source Sans Pro';
}
.contact-HYT .group-11-1UT .home-MAw .home-MAw-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.contact-HYT .group-11-1UT .event-2gP {
  width: 10rem;
  height: 3.8rem;
  position: absolute;
  left: 96.7869rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.contact-HYT .group-11-1UT .event-2gP .event-2gP-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #bfd7e8;
  font-family: Judson, 'Source Sans Pro';
}
.contact-HYT .group-11-1UT .event-2gP .event-2gP-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #bfd7e8;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.contact-HYT .group-11-1UT .contact-kko {
  width: 13.8rem;
  height: 3.8rem;
  position: absolute;
  left: 108.0787rem;
  top: 0.6845rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.0920000712;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.contact-HYT .group-11-1UT .contact-kko .contact-kko-sub-0 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1625;
  color: #00c1ff;
  font-family: Judson, 'Source Sans Pro';
}
.contact-HYT .group-11-1UT .contact-kko .contact-kko-sub-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #00c1ff;
  font-family: jsMath-cmr10, 'Source Sans Pro';
}
.contact-HYT .group-14-Fb5 {
  margin: 0rem 9.854rem 8.33rem 5.227rem;
  width: calc(100% - 15.081rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-HYT .group-14-Fb5 .contact-us-NQo {
  margin: 0rem 0rem 4.1rem 4.698rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #008dca;
  font-family: Libre Bodoni, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-HYT .group-14-Fb5 .auto-group-hk8f-ggP {
  margin-bottom: 3.3548rem;
  width: 100%;
  height: 11.1452rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-HYT .group-14-Fb5 .auto-group-hk8f-ggP .auto-group-lvm9-R8B {
  margin-right: 2.3765rem;
  box-sizing: border-box;
  padding: 4.6rem 3.28rem 4.545rem 3.28rem;
  width: 56.971rem;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.8;
  color: #b6b6b6;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #bfd7e8;
  border-radius: 3rem;
  flex-shrink: 0;
}
.contact-HYT .group-14-Fb5 .auto-group-hk8f-ggP .auto-group-zezj-F7D {
  box-sizing: border-box;
  padding: 4.6rem 3.075rem 4.545rem 3.075rem;
  width: 48.5715rem;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.8;
  color: #b6b6b6;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #bfd7e8;
  border-radius: 3rem;
  flex-shrink: 0;
}
.contact-HYT .group-14-Fb5 .auto-group-nphr-uSf {
  margin-right: 0.0027rem;
  box-sizing: border-box;
  padding: 15.863rem 40.145rem 20.238rem 62.464rem;
  width: calc(100% - 0.0027rem);
  border: solid 0.3rem #bfd7e8;
  border-radius: 2rem;
  flex-shrink: 0;
}
.contact-HYT .group-14-Fb5 .auto-group-nphr-uSf .transparent-avatar-icon-human-icon-person-icon-5d678454ee52e4-1-RA7 {
  width: 5.3068rem;
  height: 7.2686rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-HYT .or--Jjh {
  margin: 0rem 0rem 1.1rem 5.227rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #008dca;
  font-family: Libre Bodoni, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-HYT .our-instagram-loremipsum-pxw {
  margin: 0rem 0rem 17.7rem 5.227rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #7fb0e1;
  font-family: Libre Bodoni, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-HYT .group-24-kLo {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  height: 4.3838rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Judson, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
a {
    text-decoration-line: none;
    color: inherit;
  /*   text-decoration-line: underline; */
  /*   text-decoration-line: overline; */
  /*   text-decoration-line: line-through; */
  /*   text-decoration-line: underline line-through overline; */
  }